.PublicInstituciones {
  min-height: calc(100vh - 3em);
  padding-bottom: 3em;
  background: #f5f5f5;
}

.PublicInstituciones .acordeon-general{
  background: #fafafa;
}

.PublicInstituciones .mensaje-final {
  margin-top: 2em;
}
